In [3]:
import psycopg2
import pandas as pd
conn = psycopg2.connect(database='muluneh',user='postgres', password='passwd123', host='127.0.0.1', port= '5432')

In [4]:
psg = '''select * from actor'''

In [5]:
df = pd.read_sql_query(psg,conn)

/Users/muluneh/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
df.head()

   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness 2013-05-26 14:47:57.620
1         2       Nick      Wahlberg 2013-05-26 14:47:57.620
2         3         Ed         Chase 2013-05-26 14:47:57.620
3         4   Jennifer         Davis 2013-05-26 14:47:57.620
4         5     Johnny  Lollobrigida 2013-05-26 14:47:57.620

In [7]:
df.shape

(200, 4)

<p><sup>o</sup>C</p>